doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="styles/mainPage.css")
        script(src="/scripts/mainPage.js") 
    body
        div#MainContainer
            a(href = "/getArtistId", onclick="getArtist()") Click here to get Artists 
            input(type="text", name="id", id="id" style="width: 250px;height: 54px;font-size: 30px;")
            a(href = "/auth") Click here to get Songs